* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  background: #0c111b;
  position: relative;
  font-family: roboto, sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.2% 4% 2.7% 4%;
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 45px;
}

.nav-links {
  margin-top: 15px;
  display: flex;
  list-style: none;
}

.nav-items {
  display: inline-block;
  position: relative;
}

.nav-items a {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  text-decoration: none;
  margin-left: 30px;
  text-transform: capitalize;
  font-size: 18px;
  color: #fff;
  opacity: 0.8;
}

.nav-items a:hover {
  opacity: 1;
}

ul li ul.dropdown {
  border-radius: 5px;
  margin-top: -20px;
  padding-top: 20px;
  box-shadow: 0 0 20px #000000;
}

ul li ul.dropdown li {
  display: block;
  padding-right: 18%;
  opacity: 0.7;
  text-align: left;
}

ul li ul.dropdown li a {
  padding-top: 0;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 14px;
}

ul li ul.dropdown {
  width: 130px;
  background: #0c111b;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li:hover {
  opacity: 1;
}

.right-container {
  display: block;
  margin-left: auto;
}

.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  transition: 0.5s;
}

.search-logo {
  position: absolute;
  height: 15px;
  margin-top: 0.5%;
  margin-left: -1.2%;
}

.search-box:focus {
  width: 400px;
  border-color: #1f80e0;
}

.sub-btn {
  background-color: #1f80e0;
  height: 25px;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;
}

.login-link {
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 60%, #0c111b00);
  color: #fff;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #030b17;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: relative;
}

.video-card:hover .video-card-image {
  display: none;
}

.title {
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}

.movies-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.card-container {
  position: absolute;
  width: 96%;
  padding-left: 4%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  transition: 0.5s;
  background: #000;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  opacity: 1;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}

.name {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 60%;
}

.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url(assets/images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.pre-btn,
.nxt-btn {
  position: absolute;
  top: 0;
  width: 4%;
  height: 100%;
  z-index: 3;
  border: none;
  cursor: pointer;
  outline: none;
  background: #0c111b;
}

.pre-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

@media (max-width: 1024px) {
  .search-box {
    width: 120px;
    font-size: 14px;
  }

  .search-box:focus {
    width: 150px;
    border-color: #1f80e0;
  }
}

@media (max-width: 799px) {
  .search-box {
    width: 90px;
    font-size: 14px;
  }

  .search-box:focus {
    width: 100px;
    border-color: #1f80e0;
  }

  .kids {
    height: 10px;
  }

  .nav-items a {
    margin-left: 15px;
    font-size: 14px;
  }

  .sub-btn {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .login-link {
    font-size: 12px;
  }

  .carousel-container {
    height: 400px;
    padding: 20px 0;
    margin-top: 70px;
  }

  .carousel {
    width: 93%;
    height: 100%;
  }

  .slider img {
    width: 100%;
    min-height: 100%;
  }

  .slide-content {
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 -50%, #0c111b00);
  }

  .movie-title,
  .movie-des {
    display: none;
  }

  .card-container {
    padding-left: 3%;
  }

  .pre-btn img,
  .nxt-btn img {
    width: 10px;
    height: 15px;
    opacity: 0.5;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 0.8;
  }
}

@media (max-width: 477px) {
  .navbar {
    height: 50px;
    padding: 0 15px;
  }

  .brand-logo {
    height: 30px;
    margin-right: 5px;
  }

  .nav-items a {
    font-size: 10px;
    margin-left: 13px;
    display: none;
  }

  .search-box {
    width: 70px;
    font-size: 12px;
  }

  .search-box:focus {
    width: 80px;
    border-color: #1f80e0;
  }

  .search-logo {
    height: 12px;
    margin-top: 2.2%;
    margin-left: -2.5%;
  }

  .sub-btn {
    padding: 0 5px;
    font-size: 5px;
    letter-spacing: 1px;
    font-weight: 100;
  }

  .login-link {
    font-size: 10px;
    display: none;
  }

  .carousel-container {
    height: 200px;
    padding: 0 0 20px 0;
    margin-top: 70px;
  }

  .carousel {
    width: 93%;
    height: 100%;
  }

  .slider img {
    width: 100%;
    min-height: 100%;
  }

  .slide-content {
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 -50%, #0c111b00);
  }

  .movie-title,
  .movie-des {
    display: none;
  }

  .title {
    font-size: 16px;
  }

  .card-container {
    padding-left: 0.5%;
    left: -2px;
    width: 98%;
  }

  .card {
    min-width: 130px;
    width: 130px;
    height: 200px;
  }

  .name {
    font-size: 12px;
    margin-top: 90%;
  }

  .des {
    font-size: 10px;
  }

  .watchlist-btn {
    font-size: 10px;
    padding: 3px 3px;
  }

  .watchlist-btn::before {
    left: -6px;
    top: -4px;
    height: 25px;
    width: 25px;
    transform: scale(0.5);
  }

  .pre-btn,
  .nxt-btn {
    display: none;
  }
}

@media (max-width: 377px) {
  .search-box {
    width: 70px;
  }

  .search-box:focus {
    width: 80px;
  }

  .sub-btn {
    padding: 0 8px;
    font-size: 6px;
    letter-spacing: 1px;
  }
}

@media (max-width: 330px) {

  .search-box {
    width: 80px;
  }

  .search-box:focus {
    width: 90px;
  }

  .sub-btn {
    display: none;
  }

  .login-link {
    display: none;
  }
}